@use 'styles/ghost' as *;

.ghost {
  &__wrapper {
    position: relative;
  }

  &__overlay {
    @include ghost-overlay;
  }

  &__filled {
    color: transparent;
  }

  &__empty {
    color: var(--color-text-muted);
  }
}
