@use 'breakpoints' as *;
@use 'sass:map';
@use 'sass:meta';

@mixin flex($dir: row, $align: center, $justify: flex-start) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin screen-size($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map.keys($breakpoints)}.";
  }
}

@mixin container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--space-6);

  @include screen-size(mobile) {
    padding-inline: var(--space-4);
  }
}
