@use 'variables';
@use 'reset';

:root {
  color-scheme: dark;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

// stylelint-disable-next-line plugin/no-unsupported-browser-features
::selection {
  color: white;
  background: var(--color-accent);
}

// stylelint-disable-next-line plugin/no-unsupported-browser-features
:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

a {
  color: var(--color-accent-hover);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
